<div id="category_list">
<h1>Browse categories:</h1>
  <div id="columns">
  <% @categories.each do |category| %>
    <div class="category_and_image">
    <h2><a href="/categories/<%= category.id %>"><%= category.name %></a></h2>
    <img class="category_img" src="<%= category.img_url %>" alt="<%= category.name %>"> 
  </div>
  <% end %>
  </div>
</div>
