<% if @user %>
<h1 class="animated fadeIn"> Welcome, <%= @user.first_name%>. </h1>
<% else %>
<h1>Welcome to BrewHub</h1>
<p><a href="/login">Log In</a>
<p><a href="/users/new">Sign Up</a></p>

<% end %>
