<!DOCTYPE html>
<html>
<head>
  <title>Project 2 Wiki</title>
  <link rel="Stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>