<% if @user %>
<div id="new_article">
<h1> Write a new article! </h1>
  <form id="new_article" action="/articles/new" method="POST">
    <label for="title" class="form_label">Title: </label>
    <input type="text" name="title" id="title" placeholder="Ex: Home Brew 101" autofocus>
    <br>
    <label for="content" class="form_label">Article Content: </label>
    <textarea name="content" id="content" placeholder="Enter text here..."></textarea>
   <label for="category_id" class="form_label">Choose a Category: </label>
      <select name= "category_id" id="category_id" form="category_id">
        <option value="" disabled selected>Select</option>
        <option value="1">Know Your Beer</option>
        <option value="2">Bartending Tips</option>
        <option value="3">Food Pairings</option>
        <option value="4">Home Brewing</option>
     </select>
     <br>
     <br>
    <label for="img_url" class="form_label">Include an image: </label>
    <input type="text-area" name="img_url" id="img_url" placeholder="Ex: favoriteIPA.jpg">
    <input type="submit" name="submit" id="submit" value="Submit">
  </form>
<% else %>
<div id="please-login-or-signup">
  <h3 class="please-login-or-signup">
   <a href="/login">Please <br><u>login or signup</u><br>to continue.</a>
  </h3>
</div>
<% end %>
</div>