<% if @user %>
<div class="article-content" id="show-category">
  <h1><%= @category.name %></h1> 
  <img class="category_img" src="<%= @category.img_url %>" alt="<%= @category.name %>">
  <div id="article-list">
  <div id="columns">
  <p><%= @category.articles.first %></p>
    
  </div>
<% else %>
  <div id="please-login-or-signup">
    <h3 class="please-login-or-signup">
     <a href="/login">Please <br><u>login or signup</u><br>to continue.</a>
    </h3>
  </div>
  <% end %>
</div>

