<% if @user %>
<div class="article-content" id="show-article">
<h1><%= @article.title %></h1>  
  <img class="article_img" src="<%= @article.img_url %>" alt="<%= @article.title %>">
    <div class="content-text">
   
    </div>

    <a href="/articles/<%= @article.id %>/edit">Edit this Article</a>
<% else %>
<div id="please-login-or-signup">
  <h3 class="please-login-or-signup">
   <a href="/login">Please <br><u>login or signup</u><br>to continue.</a>
  </h3>
</div>
<% end %>
</div>