html {
  background-image: url("/img/taps.png");
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: helvetica;
  font-weight: 300;
  text-align: center;
}

header {
  height: 200px;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  display: block;
  margin: 0 auto;
}

header h1 {
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 85px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  width: 50%;
  margin: 0 auto;
}

header a {
  text-decoration: none;
  color: white;
}

a:hover, button:hover{
  cursor: pointer;
}

.logout_btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: none;
  color: white;
  float: right;
  margin: 10px;
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.main-page {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.main-page h2 {
  font-size: 18px;
}

.nav {
  list-style:none;
  margin: 0 auto;
  width: 80%;
  padding:0;
  text-align:center;
  color: black;
  position: relative;
}

.nav li {
  display:inline;
  color: white;
}

.nav a {
  padding:0 30px;
  margin: 20px;
  text-decoration: none;
  color: white;
  width:100px;
}

li a:hover {
  color: #09C;
  font-style: bold;
}

h1 {
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 90px;
  color: white;
  text-align: center;
}

p {
  font-size: 14px;
  color: black;
}

a {
  color: #09C;
  text-decoration: none;
}

img {
  border-radius: 7px;
}

#please-login-or-signup {
  border-radius: 10px;
  padding: 5px;
  height: 130px;
  width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
  font-weight: 300;
}


.please-login-or-signup a {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
}

form {
  display: block; 
  margin: 0 auto;
  position:relative;
  width:100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #09C;
  text-decoration: none;
  font-size: 16px;
}

input {
  display: inline;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-right: 30px;
  border: 1px solid #999;
  height: 1.5em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: 300;
}

textarea {
  width: 80%;
  height: 300px;
  display:block;
  margin: 0 auto;
  min-width: 80%;
  max-width: 80%;
  max-height: 400px;
  margin-bottom: 30px;
  font-size: 14px;
}

label {
  display: inline;
  margin-right: 5px;
}

#title {
  width: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


#submit {
  width: 20%;
  margin-bottom: 100px;
  background-color: #00cc66;
  height: 1.5em;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#img_url {
  width: 25%;
}

#login-or-signup h1 {
  color: white;
  font-size: 70px;
}


#article-list h1, #category_list h1, #new_article h1, #show-article h1, #edit-article h1, #show-category h1 {
  font-size: 40px;
  color: black;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

#article-list, #category_list, #new_article, #show-article, #edit-article, #show-category {
  width: 80%;
  max-width: 1100px;
  min-width: 800px;
  margin: 10px auto;
  background-color: white;
  padding: 5px;
  display: block;
}

#login-or-signup h2 {
  font-size: 30px;
  color: black;
  font-weight: 300;
}

#login-or-signup {
  width: 80%;
  max-width: 1100px;
  min-width: 800px;
  background-color: white;
  height: 430px;
  margin: 10px auto;
  display: block;
  padding: 5px;
}

#wrap {
   width:800px;
   display: block;
   margin: 0 auto;
}

#left_col {
   float:left;
   width:350px;
   margin-left: 30px;
}

#right_col {
   float:right;
   width:350px;
   margin-right: 30px;
}

#left_col label {
  float:left;
  margin-left: 20px;
  margin-bottom: 20px;
}

#left_col input {
 float:right;
 margin-left: 20px;
 float:right;
 margin-left: 20px;
 margin-bottom: 5px;
 margin-right: 10px;
}

#right_col label {
  float:left;
  margin-left: 20px;
  margin-bottom: 20px;
  display: inline;
}

#right_col input {
 float: right;
 margin-left: 20px;
 float:right;
 margin-left: 20px;
 margin-bottom: 5px;
 margin-right: 10px;
}

#login-btn, #signup-btn {
  background-color: #00cc66;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  width: 100px;
  float: right;
  margin-left: 20px;
  margin-right: 10px;
}

.delete-article-btn {
  background-color: white;
  border:none;
  color: #e60000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

#delete-article-form {
  margin-bottom: 30px;
}

/* 
Got some of the code below from the following site for Pinterest-style gallery display:
http://cssdeck.com/labs/css-only-pinterest-style-columns-layout 
*/

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.article_and_image, .category_and_image {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 5px;
}

.article_and_image img, .category_and_image img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.article_img, .category_img {
  width: 500px;
  height: auto;
  border: 1px black;
  margin-bottom: 20px;
  margin-top: 0;
}

.article_and_image p, .category_and_image p {
  font-size: 14px;
  color: black;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
}

.content-text {
  font-size: 14px;
  color: black;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
}









